.card {
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: hsl(209, 45%, 70%);
  word-wrap: break-word;
  max-width: 50ch;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: sepia(0.3);
  }

  &-title {
    padding: 0 15px;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-content {
    line-height: 1.4;
    margin-top: 0;
    padding: 0 15px;
    word-break: keep-all;
    font-size: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #7390aa;
    border-bottom: 2px solid #7390aa;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-transform: uppercase;

    & > div > p {
      margin-top: 0;
    }

    & > div > h4 {
      margin-bottom: 0;
    }
  }

  &-btn__link {
    background-color: #df4576;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    filter: drop-shadow(0 2px 8px rgba(#df4576, 0.32));
    text-decoration: none;
    color: hsl(0, 0, 0);

    &:hover,
    &:active {
      outline: none;
      background-color: hsl(209, 45%, 70%);
      color: #fff;
      transition: background-color 0.2s ease-in;
    }
  }
}
